# Spotify API Configuration
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
SPOTIFY_REFRESH_TOKEN=""

# SMTP Configuration
SMTP_HOST="smtp.yourprovider.com"
SMTP_USER="your-email@domain.com"
SMTP_PASSWORD="your-strong-password"
SMTP_PORT="465"
SMTP_SECURE="ssl"

RECEIVER_EMAIL=""

ALLOWED_ORIGINS="" # comma separated list of allowed origins