# Spotify API Configuration
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
SPOTIFY_REFRESH_TOKEN=""

# SMTP Configuration
SMTP_HOST=""
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_PORT="465"
SMTP_SECURE="ssl"

# Email Configuration
RECEIVER_EMAIL=""

# Allowed Origins Configuration - comma separated list of allowed origins
ALLOWED_ORIGINS=""